[submodule "research/BoW_package"]
	path = research/BoW_package
	url = https://github.com/robsoncordeiro/BoW_package.git
[submodule "research/MrCC_package"]
	path = research/MrCC_package
	url = https://github.com/robsoncordeiro/MrCC_package.git
[submodule "research/QMAS_package"]
	path = research/QMAS_package
	url = https://github.com/robsoncordeiro/QMAS_package.git
[submodule "research/D.MCA_package"]
	path = research/D.MCA_package
	url = https://github.com/11hifish/D.MCA.git
[submodule "research/BF-PSR_framework"]
	path = research/BF-PSR_framework
	url = https://github.com/danielafe7-usp/BF-PSR-Framework.git
[submodule "research/HySortOD_package/Java"]
	path = research/HySortOD_package/Java
	url = https://github.com/eug/hysortod.java.git
[submodule "research/HySortOD_package/Python"]
	path = research/HySortOD_package/Python
	url = https://github.com/eug/hysortod.py.git
[submodule "research/Game_Influencer_Detection_package"]
	path = research/Game_Influencer_Detection_package
	url = https://github.com/leomaurodesenv/paper-2019-iceis.git
[submodule "research/ULEARn_package"]
	path = research/ULEARn_package
	url = https://github.com/mtcazzolato/ulearn-app.git
[submodule "research/M-Flash_package"]
	path = research/M-Flash_package
	url = https://github.com/M-Flash/m-flash-cpp.git
[submodule "research/FReE_package"]
	path = research/FReE_package
	url = https://github.com/robsoncordeiro/FReE_package.git
[submodule "research/Curl-Remover_package"]
	path = research/Curl-Remover_package
	url = https://github.com/robsoncordeiro/Curl-Remover_package.git
