[submodule "research/BoW_package"]
	path = research/BoW_package
	url = https://github.com/robsoncordeiro/BoW_package.git
[submodule "research/MrCC_package"]
	path = research/MrCC_package
	url = https://github.com/robsoncordeiro/MrCC_package.git
[submodule "research/QMAS_package"]
	path = research/QMAS_package
	url = https://github.com/robsoncordeiro/QMAS_package.git
[submodule "research/D.MCA_package"]
	path = research/D.MCA_package
	url = https://github.com/11hifish/D.MCA.git
